@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Cinzel', serif;
font-family: 'Inter', sans-serif; */

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  color: #151515;
}

.font2 {
  font-family: "Cinzel", serif;
}

.slide img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.bg-service {
  min-height: 80vh;
  background: url("./assets/home/chef-service.jpg") no-repeat center / cover;
}

.recommends {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}

.ourmenu {
  background: url("./assets/home/featured.jpg") fixed center / cover;
}

.slider-wrapper img {
  min-height: 85vh;
}

nav .active {
  color: #eeff25;
}
